body {
  background-image: url("/src/images/084b785f918b9abc9a5a9fd088a5c746.jpg"), url("/src/images/tenor.gif");
  background-attachment: fixed;
  background-repeat: no-repeat, repeat;
  background-position: center, right;
  background-color: tomato;
  
}

.sidenav button {
    position: absolute; /* Position them relative to the browser window */
    left: -60px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    height: 100px;
    margin-top: 150px;
  }
  
  #mySidenav {
    margin-top: 150px;
  }
  .sidenav button:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  .make_donut  {
    top: 30px;
    background-color:red;
    text-align:center;
  }

  .autoClickerButton  {
    top: 130px;
    background-color:red;
    
  }
  button:disabled {
    background: #dddddd;
  }

  .donutMultiplierButton  {
    top: 230px;
    background-color:red;
  }

  .reset{
    top: 330px;
    background-color:red;

  }

  
  .dashboard{
      display: flex;
      justify-content: center;
      align-items: center;
      margin:auto;
  }
  .donut_maker{
    display: grid;
      grid-template-columns: 20fr 20fr 20fr 20fr 20fr;
      justify-content: center;
      align-items: center;
      margin-left: 50px; 
      margin-right: 50px;
      color: black;
    
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    /* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Sofia", sans-serif;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:red;
  color: white;
}
.donut_counter{
  border:solid;
  text-align: center;
  margin-right: 50px;
  background-color:white;
  }
.autoclickercount{
  border:solid;
  text-align: center;
  margin-right: 50px;
  background-color:white;
}
.multipiercount{
  border:solid;
  text-align: center;
  margin-right: 50px;
  background-color:white;

}
.autoclickercost{
  border:solid;
  text-align: center;
  margin-right: 50px;
  background-color:white;
}
.multiplycost{
  border:solid;
  text-align: center;
  margin-right: 50px;
  background-color:white;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content{
  background-image: linear-gradient(to bottom right, red, yellow);
  font-family: cursive;

}
.modal-content h1{
  font-family: cursive;
  font-weight: bolder;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:white;
}